/* Advantages part */

.advantage{
    min-width:976px;
    background:$color;
    padding:90px 0px;

    &_item{
        display:inline-block;
    width:210px;
    text-align:center;
    margin-left:158px;
    
    &:first-child{margin-left:0}
    
    img{
        margin-bottom:35px;
    }
    
    .advantage_item_title,&_text{
        font-family:Arial,sans-serif;
        font-size:17px;
        color:white;
        line-height:1.4em;
    }
    
    .advantage_item_title{
        display:block;
        text-transform:uppercase;
        font-weight:bold;
        margin-bottom:35px;
    }
    }
}

