/* Introduce part of lending */
.intro{
	background: $rear;
	&_img{
			float:right;
			width:462px;
			img{
				width:100%;
				height:auto;
			}
		}
	.slogan{
		float:left;
		width:470px;
		padding-top:90px;
		h1{
			font-family: Arial, sans-serif;
			font-size:28px;
			font-weight:bold;
			text-transform:capitalize;
			padding-left:15px;
			color:#333333;
		}
		&_text{
			line-height: 1.4em;
			padding:20px 15px;
			padding-right:70px;
			color:#9f9f9f;
		}
		.reg_button{
			display:inline-block;
			padding:20px 70px;
			border-radius:5px;
			background: linear-gradient(to top, $color, #aedf39);
			box-shadow: -1px 1px  #c5c5c5;
			text-align:center;
			cursor:pointer;
			outline:none;
			border:none;
			transition:all 1s;
			&:hover{
			background: #aedf39;
			background: linear-gradient(to bottom, $color, #aedf39);
			}
			&:active{
				box-shadow: inset 0 0 1px 0 white;
			}
			.regblock{display:block;}
			&_name{
				font-size:30px;
				color:white;
				font-weight:bold;
				padding-bottom:5px;
			}
			&_info{
				font-size:15px;
				color:black;
				font-weight:bold;
			}
			&_note{
			font-size:12px;
			font-style:italic;
			display:block;
			color:#9f9f9f;
			padding:10px 0;
			width:332px;
			text-align:center;
			}
		}
	}
}


/* Advantages part */

.advant{
	min-width:976px;
	background:$color;
	padding:90px 0px;
}
.adv{
	display:inline-block;
	width:210px;
	text-align:center;
	margin-left:158px;
	&:first-child{margin-left:0}
	img{
		margin-bottom:35px;
	}
	h2,&_text{
		font-family:Arial,sans-serif;
		font-size:17px;
		color:white;
		line-height:1.4em;
	}
	h2{
		display:block;
		text-transform:uppercase;
		font-weight:bold;
		margin-bottom:35px;
	}
	}


