body {
    font-family: Arial, Helvetica,"Nimbus Sans L", sans-serif;
    font-size: 17px;
    height: 100%;
    width: 100%;
}

.wrap {
    min-width: 976px;
    width: 976px;
    padding: 0 10px;
    margin: 0 auto;
    @include clearfix;
}
