
/* Description part    */ 

.detail {
    padding: 10px;
    background: $rear;

    >div {
        padding: 25px 20px;
        border: 1px solid $color;
        display: none;
        background:white;
    }
    input {
        display: none;
    }
    label {
        display: inline-block;
        width: 80px;
        margin-bottom: -1px;
        padding: 10px 15px;
        font-size: 12px;
        text-align: center;
        border: 1px solid $contur;
        background: $rear;
        border-radius: 3px 3px 0 0;
    }

    .mod-expenses {
        margin-left: 0px ;
    }

    .mod-overview {
        margin-left: -5px ;
    }

    .mod-contact {
        margin-left: -5px ;
    }

    input:checked + label  {
        border: 1px solid $color;
        border-bottom: 1px solid white;
        background: white;
    }

    #expenses:checked ~ .expenses,
    #overview:checked ~ .overview,
    #contact:checked ~ .contacts {
        display:  block;
    }
}

.expenses,.overview,.contacts {
    height: 665px;
    min-height: 665px;
}