/* Footer */

.footer{
    min-width: 976px;
    background: $color;
    text-align: center;
    
    &_copy{
        color: white;
        font-size: 13px;
        padding-bottom: 70px;
    }
    
    &_links{
        text-align: center;
        display: block;
        padding-bottom: 25px;
        
        li{
            font-size: 13px;
            display: inline-block;
            border-right: 1px solid black;
            padding: 0 10px;
            
            a{
                color: black;
                text-decoration: underline;
            }
        }
}
}




