/* Header */
.header {
    background: $rear;
    text-align: center;
    border-bottom: 5px solid #e0e0e0;
    min-width: 1040px;

    .mod-header {
        padding: 2px 20px;
    }

    &_logo {
        font-size: 30px;
        color: $color;
        line-height: 1.8em;
        font-weight: bold;
        
        &-wrap {
            float: left;
        }

    }

    &_icons {
        margin-left: 200px;
        margin-right: 200px;
        display: block;
        
        i {
            display: block;
            margin: 0 auto;
            width: 21px;
            height: 22px;
            margin-bottom: 5px;
        }
        
        &-all {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            padding: 5px 18px;
            border: 1px solid $rear;
            color: black;
            
            &:hover {
                background: #dfe0e2;
                border-radius: 5px;
                border: 1px solid #e0e0e0;
            }
        }
        &-thirst i {background: url(../img/threeicon.png) no-repeat 1px;}

        &-second i {background: url(../img/threeicon.png) no-repeat -20px;}

        &-third i {background: url(../img/threeicon.png) no-repeat -43px;}
            
    }

    &_setting {
            float: right;
            position: relative;
            top: 12px;

        &-but {
            position: relative;
            padding: 5px 5px;
            width: 150px;
            cursor: pointer;
            outline:  none;
            border: none;
            border-radius: 5px 5px 0 0;
            background: $rear;

        }

        &-icon {
            display: inline-block;
            margin: 0 auto;
            width: 18px;
            height: 18px;
            background: url(../img/settings-icon.png) no-repeat;
            margin-left: 10px;
            position: relative;
            top: 3px;   
        }

        &-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            font-size: 13px;
            border: 1px solid $contur;
            border-top: 0;
            width: 150px;
            
            li {
                padding: 10px 10px;
                text-align: left;
                background: #F5F5F5;
                border-bottom: 1px solid white;
                
                &:last-child {border-bottom: 1px solid $rear;}
                
                &:hover {border-bottom: 1px solid $color;}
            }

            a {color: $color;}

        }
    }
    
    /* This class make a click effect for the button */
    .active {
        background: $contur;
        border-radius: 3px 3px 0 0;
        box-shadow: inset 1px 1px 0px #7D7D7D;
    }
    
}


