
/* Overview */

.overview {
    display:none;

    &_table {
        width:100%;
        text-align:left;
        font-size:15px;

        &-wrap {
            border:1px solid $contur;
            border-radius:3px;
            margin-bottom:10px;
        }

        td {padding:10px 0;}

        tr td {width:120px;}  

        tr td.mod-bold {font-weight: bold;}  

        tr .mod-auto {width:auto;}
    }

    &_growth {

            tr td {
                font-weight: normal;
                text-align:center;
            }

            .tr-bold td {font-weight:bold;}
    }

    &_valuation {
        display: block;
        margin-bottom:20px;
        
        &-date{
            font-size: 15px;
            font-weight: bold;
            margin-left:10px;
        }
    }

    &_title {
        font-size:13px;
        font-weight:bold;
        color:white;
        background:$color;
        padding:3px 15px 7px;
        border-radius:3px;
        line-height:18px;
        margin:10px 0 15px;

        i {
            cursor:pointer;
            position:relative;
            margin-left:10px;
            display:inline-block;
            width:18px;
            height:18px;
            top:4px;
            background:url(../img/settings-icon.png) no-repeat 0-123px ;
        }
    }
    &_total {
        background:#f6f9e5;
        border-radius:3px;
        padding:10px 15px 12px;
        @include clearfix;

        &-name,&-altname {
            display:inline-block;
            font-size: 13px;
            font-weight:bold;
        }

        &-number{
            position:relative;
            top:2px;
            color:$color;
            font-size: 24px;
            margin-left:10px;
        }

        &-name {float:right;}

        .mod-number-black {color:black;}
    }
}


