
/* Overview */

.overview{

    &_table{
        width:100%;
        text-align:left;
        font-size:15px;

        &-wrap{
            border:1px solid $contur;
            border-radius:3px;
            padding:0 15px;
            margin-bottom:10px;
        }

        td{padding:10px 0;}

        tr td{width:120px;}

        tr td.bol{font-weight: bold;}

        tr .auto{width:auto;}
    }

    &_growth{

        table{

            tr td{
                font-weight: normal;
                text-align:center;
            }

            .tr_bol td{font-weight:bold;}
        }
        >span{
            display: block;
            margin-bottom:20px;
        }
        >span span{
            font-size: 15px;
            font-weight: bold;
            margin-left:10px;
        }
    }

    &_title{
        font-size:13px;
        font-weight:bold;
        color:white;
        background:$color;
        padding:3px 15px 7px;
        border-radius:3px;
        line-height:18px;
        margin:10px 0 15px;

        i{
            cursor:pointer;
            position:relative;
            margin-left:10px;
            display:inline-block;
            width:18px;
            height:18px;
            top:4px;
            background:url(../img/settings-icon.png) no-repeat 0-123px ;
        }
    }
    &_total{
        background:#f6f9e5;
        border-radius:3px;
        padding:10px 15px 12px;

        &-name,&-altname{
            font-size: 13px;
            font-weight:bold;
        }

        &-number,&-number_black{
            position:relative;
            top:2px;
            color:$color;
            font-size: 24px;
            margin-left:10px;
        }

        &-name{float:right;}

        &-number_black{color:black;}
    }
}


