
/* General part of page */

.property{
    margin:0 20px 0 10px;
}


/* Sidebar */
.sidebar{
    display:block;
    &_top{
        float:left;
        margin:20px 0 10px 10px;

        &-name{
            color:$color;
            font-weight: bold;
            display:inline-block;
            width:130px;
            line-height:2.1em;
            margin-right:68px;
        }
    }

    &_item{
        border-bottom:1px solid $contur;
        vertical-align: center;
        padding:10px 0;
        margin-right:15px;

        &:first-child{
            border-top:1px solid $contur;
        }
    }

    &_img{
        float:left;
        width:130px;
        margin-right:10px;

        img{
            display:block;
            width:100%;
            height:auto;
            border-radius:5px;
        }
    }

    &_info{
        max-width:140px;
        float:left;
        padding-top:10px;

        &-name{
            font-size:15px;
            color:$color;
            font-weight:bold;
        }
        
        &-adress{
            margin-top:5px;
            font-size:13px;
            color:#999;
        }
    }
}

/* Style for baron */
.baron{
    float:left;
    height:830px;
    width:330px !important;
    min-width: 330px !important;
    max-width: 330px !important;
    position:relative;
    overflow:hidden;

    &__bar{
        border-radius:5px;
        right:-1px;
        background: #9fca38;
    }
    &__track{
        border:1px solid $contur;
        width:10px;
        border-radius:5px;
    }
}


