$color : #9fca38; /* Color of theme */
$rear: #efefef;
$contur: #c5c5c5;


@import "property_header";
@import "property_sidebar";
@import "property_tabs";
@import "property_footer-modal";
@import "../font/fontello/css/fontello"
